.profile__description {
    max-width: 336px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: -32px auto 0 0;
}

@media screen and (max-width: 767px) {
    .profile__description {
        max-width: 282px;
        margin: 0 auto 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;        
    }
}