.element__button {
    width: 22px;
    height: 19px;
    margin: 30px 20px 30px auto;
    background-image: url(../../../images/VectorLove.svg);
    background-size: 22px 19px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

.element__button:hover {
    opacity: 0.5;
    cursor: pointer;
}